body {
    background-image: url("background.png");
}

#loginHeader {
   padding-top: 5%;
   margin-left: 35%; 
}

#loginForm {
    margin-left: 32%;
    padding-top: 10%;
    /*background-color: greenyellow;*/
}

#registerButtons, #updateAccountButton {
    margin-left: 17%;
    align-items: center;
}

#books, #penalties, #requests {
    background-color: blanchedalmond;
    align-content: center;
}
